body{
    font-family: 'Fira Sans', sans-serif;
}

.open{
    background-color: #ab422a;
}
/* logo */
.logo{
    width:150px;
    height:150px;
    position:absolute;
    top:20px;
    left:50px;
}
.logo p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
/* nabar*/
.navbar-header{
    right:20px;
}
.abs-navbar{
    width: 100%;
    padding: 0px !important;
}
.back_image{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:940px){
    .logo{
        width:150px;
        height:150px;
    }
    .logo h2{
        font-size:26px
    }
}


.services_text p{
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .back_image_content{
        padding-top:100px !important;
    }
    .back_image_text {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight:600 ;
    }
    .review_image{
        width:150px !important;
     }
     .review_text{
        font-size: 15px !important;
    }

}
.navbg-color{
    
    background-color: #fb3!important;
}
.review_image{
   width:200px;
}
.review_text{
    font-size: 20px;
}
hr{
    
    border-color: gainsboro;
}
.back_image_content{
    /*margin-top: 16%;*/
}
.back_image_text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight:600 ;
}
.back_image_title {
    margin-bottom: 13%;
    /*margin-top: 8%;*/
    font-size: 24px;
    font-family: inherit;
}

.own_logo span{
    font-family: 'Montserrat', sans-serif;
    font-size:27px;
    font-weight: 600;
}

.down{
    cursor: pointer;
    margin-top: 16%;
    font-size: 21px;
}

.yt-thumbnail{
    height: 175px;
    background-size: 317px;
    background-position: 0px -33px;
    min-width: 317px;
}

.hover{
    cursor: pointer;
}

.whatsapp{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
}
